<template>
  <div id="app">
    <div id="graph"></div>
  </div>
</template>

<script>
import { Network } from "vis-network/dist/vis-network.esm";
import mainQuery from "./queries/main_query.gql";
import frontendPeople from "./data/frontend-people.json";

export default {
  name: "App",
  components: {},
  apollo: {
    users: {
      query: mainQuery,
      variables() {
        return {
          usernames: this.usernames,
        };
      },
      result({ data }) {
        this.buildGraph(data);
        this.iteration += 1;
      },
      debounce: 10,
    },
  },
  data() {
    return {
      users: {},
      people: [],
      iteration: 0,
    };
  },
  computed: {
    usernames() {
      const start = this.iteration * 10;
      const end = start + 10;
      return frontendPeople.slice(start, end);
    },
  },
  methods: {
    buildGraph(data) {
      this.people.push(...data.users.nodes);
      let edges = {};

      console.log(this._network);

      for (const user of data.users.nodes) {
        this._network.body.data.nodes.add({
          id: user.id,
          label: user.username,
        });

        if (!edges[user.id]) {
          edges[user.id] = {};
        }

        const edge = edges[user.id];

        for (const mr of user.authoredMergeRequests.nodes) {
          for (const approver of mr.approvedBy.nodes) {
            if (!edge[approver.id]) {
              edge[approver.id] = 1;
            } else {
              edge[approver.id] += 1;
            }
          }
        }
      }

      for (const from in edges) {
        for (const to in edges[from]) {
          const value = edges[from][to];
          this._network.body.data.edges.add({ from, to, value });
        }
      }
    },
  },
  mounted() {
    const container = document.getElementById("graph");
    const options = {
      nodes: {},
      edges: {
        length: 600,
        arrows: "to",
        color: {
          color: "#848484",
          highlight: "#c7254e",
        },
      },
    };
    this._network = new Network(container, { nodes: [], edges: [] }, options);
  },
};
</script>

<style lang="scss">
#graph {
  width: 98vw;
  height: 98vh;
}
</style>
